/* css/style.css */

/* ... (Общие стили button остаются) ... */

/* Header */
.header {
    position: sticky; 
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: linear-gradient(90deg, #bdebf3, #f7eccb); /* Градиент в шапке */
    color: var(--white);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 50;
    flex-shrink: 0; 
}

.header-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebar-toggle, .qr-button {
    background: none;
    border: none;
    color: var(--white); /* Иконки в шапке белые */
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
}

/* Pages Container */
#pages-container {
    flex-grow: 1;
    padding: 25px 15px; /* Уменьшаем горизонтальный паддинг для мобильных */
    background-color: var(--background-color);
    overflow-y: auto; 
}

/* Base Page Style (для карточек) */
.page {
    background-color: var(--content-bg-color);
    padding: 20px;
    border-radius: 16px; /* Более мягкие углы */
    box-shadow: var(--shadow);
    margin-bottom: 15px;
}

.page h2 {
    color: var(--secondary-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    font-weight: 700;
}