.background {
    min-width: 668px;
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 40px 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #FFFFFF;
}